@model Shopping.Shared.DTOs.HomePageDTO

@{
    ViewBag.Title = "Index";
}

<style>
    .box {
        display: inline-block
    }
</style>
<div>
    <h4>Have a look at our Trending Products!</h4>
    <hr />
    <dl class="dl-horizontal">

        @for (int i = 0; i < Model.Trending.Count(); i++)
        {
            <h2>@Model.Trending[i].Category.Name</h2>

            <p>Trending Rank :  @Model.Trending[i].Rank</p>


            for (int productIndex = 0; productIndex < 5;)
            {

                <div class="box">
                    <img src="@Model.Trending[i].TopProducts[0].Products[productIndex].ImageURL" width="200px" height="200px" />
                    <p>Name : @Model.Trending[i].TopProducts[0].Products[productIndex].Name</p>
                    <P>Price : @Model.Trending[i].TopProducts[0].Products[productIndex].Price</P>
                </div>

                if (i < 3)
                {
                    productIndex = productIndex + 2;
                }
                else
                {
                    productIndex++;
                }
            }

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

